@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
html, body { @apply h-full overflow-hidden; }

:root [data-theme='vintage'] {
  --theme-font-family-base: 'lato', sans-serif;
  --theme-font-family-heading: 'lato', sans-serif;
}

#blurred-bg {
  backdrop-filter: blur(3px);
}

/* .scrollTo {
  scroll-margin-top: 40px;
} */